[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "2024.8.30"
python-dotenv = "1.0.1"
google-cloud-aiplatform = "1.84.0"
aiohttp = "3.11.9"
psutil = "6.1.1"
langgraph = "0.3.11"
langchain-google-genai = "2.1.0"

[dev-packages]
ruff = "~=0.7.4"
pre_commit = "~=4.0.1"
pytest = "~=8.3.3"

[requires]
python_version = "3.11"
